<h1>Welcome</h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <h1>Local Grassroots Database</h1>
    <%= link_to 'My Database', controller: 'organizations' %>
    <%= button_to "Log out", '/logout'%>
<% else %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>




