<h1>Local Grassroots Database</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Organization Name</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Miles Away</th>
      <th scope="col">Organization Page</th>
    </tr>
  </thead>
  <tbody>
    <% @org_results.each do |organization| %>
    <tr>
      <td><%= organization.title %></td>
      <td><%= organization.text %></td>
      <td><%= find_distance(organization) %></td>
      <td><%= link_to 'More info', organization_path(organization) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Back to Welcome", '/welcome', method: :get, :class=>"btn btn-outline-dark" %>
