<div class="container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col">
      <h1>Sign Up</h1>
      <div class="row search-form-container">
      <div class="col-2">
      </div>
      <div class="col-8">
        <%= form_for @user do |f|%>
          <div class="row">
          <%= f.label :username%><br>
          <%= f.text_field :username%><br>
          </div>
          <div class="row">
          <%= f.label :password%><br>
          <%= f.password_field :password%><br>
          </div>
      </div>
      <div class="col-2">
      </div>
      </div>
        
        <%= f.submit("Create User", :class=>"btn btn-outline-dark") %>
      <%end%>
  
      <%= button_to "Back to Welcome", '/welcome', method: :get, :class=>"btn btn-outline-dark"%>
   </div>
   <div class="col-4">
   </div>
  </div>
</div>
