<%= form_with model: @organization, local: true do |form| %>
 
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@organization.errors.count, "error") %> prohibited
        this organization from being saved:
      </h2>
      <%= render :partial => 'shared/flash_messages' %>
    </div>
  <% end %>
  
  <p>
    <%= form.label :'Organization Name' %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :'Mission Statement' %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :'Website URL' %><br>
    <%= form.text_area :url %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>