<div class="container search-form-container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
    <%= form_with model: @organization, local: true do |form| %>
 
      <% if @organization.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@organization.errors.count, "error") %> prohibited
            this organization from being saved:
          </h2>
          <%= render :partial => 'shared/flash_messages' %>
        </div>
      <% end %>
    <div class="row">
    <%= form.label :'Organization Name' %><br>
    <%= form.text_field :title %>
    </div>
    <div class="row">
    <%= form.label :'Mission Statement' %><br>
    <%= form.text_field :text %>
    </div>
    <div class="row">
    <%= form.label :'Website URL' %><br>
    <%= form.text_field :url %>
    </div>
    <div class="row">
    <%= form.label :'Zipcode' %><br>
    <%= form.text_field :zipcode %>
    </div>
  <%= form.submit("Create Organization", :class=>"btn btn-outline-dark")%>
  <% end %>
  </div>
  <div class="col-2">
  </div> 
  </div>
</div>