<h1>Organization Databse</h1>

<% if logged_in? %>
  <%= link_to 'New organization', new_organization_path %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Organization Name</th>
      <th scope="col">Mission Statement</th>
      <th scope="col">Organization Page</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.title %></td>
      <td><%= organization.text %></td>
      <td><%= link_to 'More info', organization_path(organization) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<% if logged_in? %>
    <%= button_to "Log out", '/logout', :class=>"btn btn-outline-dark"%>
<% end %>