<p>
  <strong>Organization Name:</strong>
  <%= @organization.title %>
</p>
 
<p>
  <strong>Mission Statment:</strong>
  <%= @organization.text %>
</p>

<p>
  <strong>Website/Social Media URL:</strong>
  <%= link_to 'Website/Social Media Page', @organization.url %>
</p>
 
<h2>Events</h2>
<%= render @organization.events %>

<h2>Comments</h2>
<%= render @organization.comments %>

<% if logged_in? %>
  <h2>Add an event:</h2>
  <%= render 'events/form' %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  
  <%= link_to 'Edit', edit_organization_path(@organization) %> |
  <%= link_to 'Back', organizations_path %> | 
  <%= link_to 'Delete', organization_path(@organization),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% end %>